<table class="table table-bordered">
  <tbody>
    <tr class="active">
      <th style="width: 100px;"><%= t ".aqi_value" %></th>
      <th><%= t ".evaluate" %></th>
      <th><%= t ".consequence" %></th>
      <th><%= t ".color" %></th>
    </tr>
    <tr>
      <td><%= t ".td11" %></td>
      <td><%= t ".td12" %></td>
      <td><%= t ".td13" %></td>
      <td>
        <label class="color" style="background-color: blue"><%= t ".td14" %></label>
      </td>
    </tr>
    <tr>
      <td><%= t ".td21" %></td>
      <td><%= t ".td22" %></td>
      <td><%= t ".td23" %></td>
      <td>
        <label class="color" style="background-color: yellow;color: #cdcdcd"><%= t ".td24" %></label>
      </td>
    </tr>
    <tr>
      <td><%= t ".td31" %></td>
      <td><%= t ".td32" %></td>
      <td><%= t ".td33" %></td>
      <td>
        <label class="color" style="background-color: orange"><%= t ".td34" %></label>
      </td>
    </tr>
    <tr>
      <td><%= t ".td41" %></td>
      <td><%= t ".td42" %></td>
      <td><%= t ".td43" %></td>
      <td>
        <label class="color" style="background-color: red"><%= t ".td44" %></label>
      </td>
    </tr>
    <tr>
      <td><%= t ".td51" %></td>
      <td><%= t ".td52" %></td>
      <td><%= t ".td53" %></td>
      <td>
        <label class="color" style="background-color: brown"><%= t ".td54" %></label>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-center">
        <p>
          <strong>(*)</strong>
          <%= t ".ps" %></p>
      </td>
    </tr>
  </tbody>
</table>
