<% content_for :body_class, :load2 %>

<style>
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div class="col-md-12">
        <div class="box loginbox">
          <div class="header">
            <h4><%= t ".title" %></h4>
          </div>
          <br>
          <p><%= t ".instruction" %></p>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "m-t"}) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t(".email_placeholder") %>
            </div>

            <% if alert %>
              <strong class="alert"><%= alert %></strong>
            <% end %>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t(".password_placeholder") %>
            </div>

            <div class="actions">
              <%= f.submit t(".sign_in"), class: "btn btn-primary block full-width m-b" %>
              <%= link_to t(".forgot_password"), new_admin_password_path, class: "btn btn-link" %>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
