<div class="row news-item">
  <div class="col-sm-12">
    <article>
      <%= link_to post do %>
        <h2>
          <i class="fa fa-check"></i> <%= post.title %>
        </h2>
      <% end %>
      <div class="byline">
        <span><%= post.created_at.strftime "%b %d %Y" %></span>
        <span>
          <i class="fa fa-clock-o"></i> <%= post.created_at.strftime "%R" %>
        </span>
        <span>
          <%= link_to post, method: :delete, data: {confirm: "Are you sure?"} do %>
             <i class="fa fa-trash"></i> Delete
          <% end if admin_signed_in? %>
        </span>
      </div>
      <p></p>
      <%= raw post.content %>
      <p></p>
    </article>
  </div>
</div>
