<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">
        <b>ĐỒNG HÀNH CÙNG CHÚNG TÔI</b>
      </h2>
      <span class="line"></span>
      <div class="grid-image">
        <div class="item text-center">
          <%= image_tag "about1.png", title: "LIVE&LEARN For Environment And Community" %>
        </div>
        <div class="item text-center">
          <%= image_tag "about2.jpg", title: "CPAS" %>
        </div>
        <div class="item text-center">
          <%= image_tag "about3.png", title: "HUST" %>
        </div>
        <div class="item text-center">
          <%= image_tag "about4.png", title: "SET" %>
        </div>
        <div class="item text-center">
          <%= image_tag "about5.png", title: "SAMI" %>
        </div>
        <div class="item text-center">
          <%= image_tag "about6.gif", title: "CZECH REPUBLIC DEVELOPMENT COOPERATION" %>
        </div>
        <div class="item text-center">
          <%= image_tag "about7.jpg", title: "Embassy of the Federal Republic of Germany Hanoi" %>
        </div>
      </div>
    </div>
  </div>
</div>